/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v15-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

@media (min-width: 768px) {
  body {
    min-width: 768px; } }

@media (min-width: 1250px) {
  body {
    min-width: 1250px; } }

.container {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 668px;
    padding: 0 50px; } }

@media (min-width: 1250px) {
  .container {
    width: 1050px;
    padding: 0 100px; } }

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 85px;
  font: inherit;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
  background-color: #ffffff; }
  .button:hover {
    color: #ffffff;
    background-color: #444444; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.site-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #ececec;
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 28px;
  padding-left: 74px;
  padding-bottom: 28px;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ececec; }
  .site-list__link[href]:hover {
    color: rgba(0, 0, 0, 0.6); }
  .site-list__link[href]:active {
    color: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: none; }
  .site-list__link {
    margin-right: 35px;
    padding-top: 18px;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 15px;
    border: none; } }

@media (min-width: 1250px) {
  .site-list__link {
    margin-right: 35px;
    padding-top: 31px;
    padding-left: 0;
    padding-bottom: 33px;
    font-size: 17px;
    border: none; }
  .site-list__item:first-child {
    border-right: 1px solid #ececec; }
  .site-list__item:not(:first-child) {
    margin-left: 35px; } }

.user-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

.user-list__link {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 28px;
  padding-left: 74px;
  padding-bottom: 28px;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ececec; }
  .user-list__link[href]:hover {
    color: rgba(0, 0, 0, 0.6); }
  .user-list__link[href]:active {
    color: rgba(0, 0, 0, 0.3); }
  .user-list__link[href]:hover > svg {
    fill: #63d1bb; }
  .user-list__link[href]:active > svg {
    fill: rgba(99, 209, 187, 0.3); }

.user-list__img {
  position: absolute;
  top: 35px;
  left: 33px;
  fill: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .user-list__link {
    height: 88px;
    padding-top: 31px;
    padding-left: 0;
    padding-bottom: 33px;
    border-bottom: none;
    border-left: 1px solid #ececec; }
  .user-list__link--search {
    width: 84px; }
  .user-list__link--basket {
    padding-left: 82px; }
  .user-list__search {
    font-size: 0; } }

.additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.additional-list__link {
  display: inline-block;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  color: #000000; }
  .additional-list__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .additional-list__link:active {
    color: rgba(0, 0, 0, 0.3); }

.page-main {
  background-color: #ffffff; }

.page-main__header {
  width: 100%;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile%401x.jpg");
  background-repeat: no-repeat;
  background-position: center -15%; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__header {
      background-image: url("../img/hero-mobile%402x.jpg");
      background-size: 575px auto; } }

.page-main__title-wrapper {
  min-height: 177px;
  background-color: #f1f1f1; }

.page-main__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 488px;
  margin: 0 auto; }

.page-main__title {
  padding: 70px 30px 0;
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-size: 27px;
  text-align: center; }
  @media (min-width: 768px) {
    .page-main__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1250px) {
    .page-main__title {
      font-size: 53px;
      line-height: 57px; } }

.page-main__menu {
  margin-top: auto; }

.page-main__wrapper {
  width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .page-main__header {
    position: relative;
    background-image: url("../img/hero-tablet%401x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-main__header {
      background-image: url("../img/hero-tablet%402x.jpg");
      background-size: 1150px; } }

@media (min-width: 768px) {
    .page-main__header::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0; }
  .page-main__header-wrapper {
    width: 668px;
    height: 757px;
    padding: 0 50px; }
  .page-main__title {
    padding: 154px 0 0; }
  .page-main__title-wrapper {
    position: relative;
    min-height: 230px; }
    .page-main__title-wrapper::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0; }
  .page-main__title--inner {
    padding-top: 95px; }
  .page-main__wrapper {
    width: 768px; } }

@media (min-width: 1250px) {
  .page-main__header::after {
    height: 37px; }
  .page-main__header-wrapper {
    height: 764px;
    width: 1050px;
    padding: 0 100px; }
  .page-main__title {
    padding-top: 154px; }
  .page-main__title-wrapper {
    min-height: 255px; }
  .page-main__title--inner {
    padding-top: 95px; }
  .page-main__wrapper {
    width: 1050px;
    padding: 0 100px; } }

.page-header {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .page-header {
    height: 87px; } }

.main-nav {
  position: relative;
  z-index: 1; }

.main-nav__logo-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 80px;
  padding-top: 22px;
  text-align: center;
  vertical-align: middle; }
  .main-nav__logo-link[href]:hover {
    opacity: 0.6; }
  .main-nav__logo-link[href]:active {
    opacity: 0.3; }

.main-nav__logo-image {
  width: 86px;
  height: 35px; }

.main-nav__info {
  display: none;
  margin: 0;
  padding-top: 18px; }

@media (max-width: 767px) {
  .main-nav__wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #ffffff; }
  .main-nav.container {
    padding: 0;
    width: 320px; }
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 30px;
      right: 30px;
      display: block;
      width: 21px;
      height: 21px;
      background-image: url("../img/icon-menu-close.svg");
      background-repeat: no-repeat;
      background-position: 0 center; }
  .main-nav--closed .main-nav__toggle::before {
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: 0 center; }
  .main-nav--closed .main-nav__wrapper {
    display: none; }
  .main-nav--no-js .main-nav__wrapper {
    position: static;
    display: block; }
  .main-nav--no-js .main-nav__toggle {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__logo-link {
    min-height: 88px; }
  .main-nav__logo-image {
    width: 115px;
    height: 46px; }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__toggle {
    display: none; }
  .main-nav__site-list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .main-nav__user-list {
    min-width: 348px;
    margin-left: auto;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .main-nav__logo-link {
    position: absolute; }
  .main-nav__info {
    display: block;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; } }

@media (min-width: 1250px) {
  .main-nav__logo-link {
    left: 50%;
    margin-left: -74.5px;
    padding-top: 9px; }
  .main-nav__logo-image {
    width: 149px;
    height: 72px; }
  .main-nav__site-list {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .main-nav__user-list {
    margin-left: 100px; }
  .main-nav__additional-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.features-table {
  width: 100%;
  border-collapse: collapse; }

.features-table__item {
  padding: 9px 30px 10px 0;
  line-height: 20px;
  border-bottom: 1px solid #ececec; }

@media (min-width: 768px) {
  .features-table__item {
    padding-right: 0px; } }

.goods-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.goods-categories__item {
  width: 100%; }

.goods-categories__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 24px 16px 28px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #63d1bb; }
  .goods-categories__link:hover {
    background-color: #59d5bc; }
  .goods-categories__link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #59d5bc; }

.goods-categories__link::after {
  content: "";
  display: block;
  width: 60px;
  height: 62px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center; }

.goods-categories__link:hover::after {
  opacity: 0.7; }

.goods-categories__link:active::after {
  opacity: 0.3; }

.goods-categories__link--interior::after {
  background-image: url("../img/icon-interior.svg"); }

.goods-categories__link--toy::after {
  background-image: url("../img/icon-toy.svg"); }

.goods-categories__link--toy {
  background-color: #56c3b2; }
  .goods-categories__link--toy:hover {
    background-color: #46c1ae; }
  .goods-categories__link--toy:active {
    background-color: #46c1ae; }

@media (min-width: 768px) {
  .goods-categories__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .goods-categories__link {
    padding-left: 40px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 30px; }
    .goods-categories__link:hover {
      position: relative;
      top: -5px; } }

.good {
  padding: 27px 30px 34px; }

.good__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 21px; }

.good__caption {
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 0; }
  @media (min-width: 768px) {
    .good__caption {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1250px) {
    .good__caption {
      font-size: 53px;
      line-height: 57px; } }

.good__title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #59d5bc; }

.good__description {
  margin: 0;
  margin-bottom: 20px; }

.good__features {
  margin-bottom: 28px; }

.good__image {
  vertical-align: bottom; }

.good__image-wrapper {
  margin: 0;
  margin-bottom: 22px;
  padding: 0; }

.good__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center; }

@media (min-width: 768px) {
  .good {
    padding-top: 34px;
    padding-left: 50px;
    padding-right: 50px; }
  .good__titles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 43px; }
  .good__title {
    width: 99px;
    margin-right: 10px;
    line-height: 17px;
    text-align: center; }
  .good__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .good__info {
    width: 290px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 150px; }
  .good__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px; }
  .good__image-wrapper {
    width: 333px;
    padding-top: 7px; }
  .good__order {
    width: 290px;
    margin-top: -130px; }
  .good__price {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px; }
  .good__order-button {
    width: 100%; } }

@media (min-width: 1250px) {
  .good {
    position: relative;
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 53px;
    padding-left: 0; }
  .good__titles {
    position: absolute;
    top: 105px;
    z-index: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .good__title {
    margin-left: 30px;
    margin-right: 45px; }
  .good__wrapper {
    margin-left: 175px; }
  .good__info {
    width: 294px;
    padding-top: 165px; }
  .good__description {
    margin-bottom: 48px; }
  .good__price {
    margin-bottom: 33px; }
  .good__image-wrapper {
    width: 525px; } }

.about-us {
  position: relative;
  padding: 35px 30px 0; }
  .about-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0; }

.about-us__title {
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0; }
  @media (min-width: 768px) {
    .about-us__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1250px) {
    .about-us__title {
      font-size: 53px;
      line-height: 57px; } }

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.about-us__item {
  position: relative;
  margin-bottom: 28px;
  padding-top: 55px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000; }

.about-us__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 55px;
  height: 40px; }

.about-us__item:nth-child(1)::before {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.about-us__item:nth-child(2)::before {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.about-us__item:nth-child(3)::before {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.about-us__item:nth-child(4)::before {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.about-us__item:nth-child(5)::before {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.about-us__item:nth-child(6)::before {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

@media (min-width: 768px) {
  .about-us {
    padding: 64px 50px 25px; }
    .about-us::before {
      height: 25px; }
  .about-us__title {
    margin-bottom: 47px; }
  .about-us__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .about-us__item {
    width: 334px;
    margin-bottom: 57px;
    font-size: 20px;
    line-height: 22px; }
  .about-us__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .about-us__item:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .about-us__item:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .about-us__item:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .about-us__item:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; } }

@media (min-width: 1250px) {
  .about-us {
    padding: 80px 175px 35px; }
  .about-us__title {
    margin-bottom: 50px; }
  .about-us__item {
    width: 350px;
    margin-bottom: 55px; } }

.reviews {
  position: relative;
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px; }
  .reviews::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0; }

.reviews__title {
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  padding: 0; }
  @media (min-width: 768px) {
    .reviews__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1250px) {
    .reviews__title {
      font-size: 53px;
      line-height: 57px; } }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px; }

.reviews__item {
  margin: 0; }

.reviews__text {
  margin: 0;
  margin-bottom: 23px;
  line-height: 30px; }

.reviews__author {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color: #000000; }

.reviews__email {
  margin: 0;
  font-size: 17px; }

.reviews__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }

.reviews__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 1px solid #ececec;
  background-color: transparent;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }
  .reviews__button:hover, .reviews__button:focus {
    opacity: 0.6; }
  .reviews__button:active {
    opacity: 0.3; }

.reviews__button--next {
  background-image: url("../img/icon-right-arrow.svg"); }

.reviews__write {
  width: 100%; }

@media (min-width: 768px) {
  .reviews {
    padding: 75px 50px 110px;
    background-image: url("../img/review%401x.jpg");
    background-repeat: no-repeat;
    background-position: top left; }
    .reviews::before {
      height: 25px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review%402x.jpg");
      background-size: 350px; } }

@media (min-width: 768px) {
  .reviews__wrapper {
    position: relative; }
  .reviews__title {
    margin-bottom: 50px; }
  .reviews__text {
    margin-bottom: 55px;
    font-size: 17px; }
  .reviews__author {
    font-size: 18px; }
  .reviews__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0; }
  .reviews__button {
    width: 90px;
    border: none; }
  .reviews__write {
    position: absolute;
    top: 0;
    right: 0;
    width: 171px;
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1250px) {
  .reviews {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 160px; }
    .reviews::before {
      height: 25px; }
  .reviews__wrapper {
    width: 875px;
    margin-left: 175px; }
  .reviews__title {
    margin-bottom: 45px; }
  .reviews__text {
    margin-bottom: 35px;
    padding-right: 105px; } }

.contacts {
  padding-top: 35px;
  padding-bottom: 35px; }

.contacts__text {
  padding-right: 30px;
  padding-left: 30px; }

.contacts__title {
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px; }
  @media (min-width: 768px) {
    .contacts__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1250px) {
    .contacts__title {
      font-size: 53px;
      line-height: 57px; } }

.contacts__address {
  margin-bottom: 37px; }

.contacts__email,
.contacts__adds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  line-height: 30px;
  font-style: normal; }
  .contacts__email span,
  .contacts__adds span {
    margin-right: 30px; }

.contacts__email {
  margin-bottom: 28px; }

.contacts__email-link {
  color: #444444;
  border-bottom: 1px solid #62d1ba; }
  .contacts__email-link:hover {
    color: #46c1ae;
    border-color: #46c1ae; }
  .contacts__email-link:active {
    opacity: 0.3; }

.contacts__map {
  height: 457px;
  margin-bottom: 39px;
  background-color: #e9e9e9;
  background-image: url("../img/map-mobile%401x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-mobile%402x.jpg"); } }

.contacts__write {
  display: block;
  margin: 0 auto;
  width: 260px;
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 768px) {
  .contacts {
    padding-top: 37px;
    padding-bottom: 55px; }
  .contacts__text {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px; }
  .contacts__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 34px;
    font-size: 43px;
    line-height: 50px; }
  .contacts__title::after {
    content: "";
    display: block;
    width: 47px;
    height: 81px;
    margin-left: auto;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat; }
  .contacts__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 55px; }
  .contacts__email,
  .contacts__adds {
    width: 334px; }
    .contacts__email span,
    .contacts__adds span {
      margin-right: 25px; }
  .contacts__map {
    margin-bottom: 55px;
    background-image: url("../img/map-tablet%401x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-tablet%402x.jpg"); } }

@media (min-width: 768px) {
  .contacts__write {
    width: 230px; } }

@media (min-width: 1250px) {
  .contacts {
    padding-top: 67px;
    padding-bottom: 105px; }
  .contacts__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 100px;
    padding-bottom: 0; }
  .contacts__text {
    padding-top: 70px;
    padding-left: 75px;
    padding-right: 0; }
  .contacts__title {
    position: relative;
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px; }
  .contacts__title::after {
    position: absolute;
    left: -112px; }
  .contacts__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contacts__map {
    width: 525px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: auto;
    margin-bottom: 0;
    background-image: url("../img/map-desktop%401x.jpg"); } }
  @media (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1250px) and (min-resolution: 144dpi), (min-width: 1250px) and (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-desktop%402x.jpg"); } }

@media (min-width: 1250px) {
  .contacts__write {
    position: absolute;
    bottom: 0;
    left: 175px; } }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-footer__social {
  width: 260px;
  border-bottom: 1px solid #e5e5e5; }

.page-footer__logo-link {
  display: none; }

@media (min-width: 768px) {
  .page-footer {
    min-height: 113px;
    padding-top: 31px; }
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-footer__social {
    border-bottom: none; }
  .page-footer__logo-link {
    display: block;
    margin-right: 100px; }
    .page-footer__logo-link[href]:hover svg {
      fill: #46c1ae; }
    .page-footer__logo-link[href]:active svg {
      fill: rgba(70, 193, 174, 0.3); }
  .page-footer__copyright {
    margin-left: auto; } }

@media (min-width: 1250px) {
  .page-footer__logo-link {
    margin-right: 290px; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 80px; }
  .social__link:hover > svg {
    fill: #46c1ae; }
  .social__link:active > svg {
    fill: rgba(70, 193, 174, 0.3); }

.copyright {
  width: 182px; }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  color: #000000; }
  .copyright__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .copyright__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .copyright__link:hover > svg {
    fill: #46c1ae; }
  .copyright__link:active > svg {
    fill: rgba(70, 193, 174, 0.3); }

.add-cort__choose-size {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none; }

.add-cort__legend {
  margin-bottom: 25px;
  line-height: 30px;
  text-align: center; }

.add-cort__size-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.add-cort__size-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 78px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid rgba(68, 68, 68, 0.1); }
  .add-cort__size-item:hover {
    border-color: rgba(68, 68, 68, 0.3); }
  .add-cort__size-item:active {
    border-color: #63d1bb; }

.add-cort__size-item:last-child {
  margin-right: 0; }

.add-cort__size-input:checked + .add-cort__size-item {
  border-color: #63d1bb; }

.add-cort__submit {
  width: 100%;
  border: none;
  background-color: #63d1bb;
  color: #ffffff;
  cursor: pointer; }
  .add-cort__submit:hover {
    background-color: #59d5bc; }
  .add-cort__submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #59d5bc; }

.catalog {
  padding-top: 30px; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .catalog {
    padding-top: 74px; }
  .catalog__item {
    margin-bottom: 54px; } }

@media (min-width: 1250px) {
  .catalog {
    padding-top: 127px; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .catalog__item:not(:nth-child(3)) {
    margin-right: 51px; } }

.good-info {
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  line-height: 0; }
  .good-info:hover {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .good-info:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.good-info__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px;
  padding-bottom: 0;
  border: 1px solid #ededed; }

.good-info__caption {
  margin: 0;
  margin-bottom: 5px; }

.good-info__caption-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000; }
  .good-info__caption-link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .good-info__caption-link:active {
    color: rgba(0, 0, 0, 0.3); }

.good-info__features {
  margin: 0;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px; }

.good-info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  border-top: 1px solid #ededed; }

.good-info__cost {
  line-height: 24px;
  font-weight: 700; }

.good-info__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px; }
  .good-info__cart:hover > svg {
    fill: #63d1bb; }
  .good-info__cart:active > svg {
    fill: rgba(99, 209, 187, 0.3); }

.good-info__cart-image {
  fill: rgba(0, 0, 0, 0.2); }

@media (min-width: 768px) {
  .good-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .good-info__image-link {
    height: 334px;
    width: 334px; }
  .good-info__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 25px 30px 0; }
  .good-info__caption-link {
    font-size: 20px;
    line-height: 24px; }
  .good-info__features {
    font-size: 15px; }
  .good-info__price {
    margin-top: auto; }
  .good-info__cost {
    font-size: 17px; } }

@media (min-width: 1250px) {
  .good-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 315px;
    height: auto; }
  .good-info__image-link {
    width: 100%;
    height: 461px; }
  .good-info__description {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

.manufacture {
  position: relative;
  margin-bottom: 55px; }

.manufacture__video {
  position: absolute;
  top: 98px;
  line-height: 0; }
  .manufacture__video video {
    background-color: transparent;
    background-image: url("../img/video-mobile%401x.jpg");
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .manufacture__video video {
        background-image: url("../img/video-mobile%402x.jpg");
        background-size: 100%; } }

.manufacture__video-wrapper {
  position: relative; }

.manufacture__video-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -38px;
  width: 100px;
  height: 76px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .manufacture__video-button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .manufacture__video-button:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3; }

.manufacture__text-wrapper {
  position: relative;
  padding: 33px;
  padding-top: 25px;
  padding-bottom: 30px;
  border: 1px solid #ececec; }

.manufacture__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 200px;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }
  .manufacture__title::before {
    content: "";
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 25px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat; }

.manufacture__info {
  margin: 0;
  margin-bottom: 27px;
  font-size: 13px;
  line-height: 24px; }

.manufacture__order {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  width: 100%; }

@media (min-width: 768px) {
  .manufacture {
    margin-bottom: 62px; }
  .manufacture__title {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: none; }
    .manufacture__title::before {
      margin-right: 30px; }
  .manufacture__info {
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 30px; }
  .manufacture__video {
    position: static; }
    .manufacture__video video {
      width: 668px;
      height: 455px;
      background-image: url("../img/video-tablet%401x.jpg"); } }
    @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
      .manufacture__video video {
        background-image: url("../img/video-tablet%402x.jpg");
        background-size: 100%; } }

@media (min-width: 768px) {
  .manufacture__text-wrapper {
    padding: 35px 41px 45px;
    border-top: none; } }

@media (min-width: 1250px) {
  .manufacture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 105px; }
  .manufacture__video video {
    width: 682px;
    height: 455px;
    background-size: 100%; }
  .manufacture__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 230px;
    padding: 45px 60px 60px 78px;
    border-top: 1px solid #ececec; }
  .manufacture__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
    word-wrap: break-word; }
    .manufacture__title::before {
      margin-bottom: 20px; }
    .manufacture__title span {
      max-width: 100%; }
  .manufacture__order {
    margin-top: auto; } }

.order-form {
  padding-bottom: 50px;
  padding-top: 22px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000; }

.order-form__preview {
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444; }

.order-form__set {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none; }
  .order-form__set:last-of-type {
    margin-bottom: 0; }

.order-form__input-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.order-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 23px;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb; }
  .order-form__title::after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 10px;
    height: 1px;
    margin-left: 22px;
    background-color: #63d1bb; }

.order-form__input-item {
  margin-bottom: 21px; }
  .order-form__input-item:last-child {
    margin-bottom: 0; }

.order-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .order-form__label::before {
    content: "";
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 40px;
    height: 40px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 22px;
    border: 2px solid #444444; }

.order-form__label--radio::before {
  border-radius: 50%; }

.order-form__label:hover {
  color: rgba(0, 0, 0, 0.6); }
  .order-form__label:hover::before {
    border-color: #63d1bb; }

.order-form__label:active {
  color: rgba(0, 0, 0, 0.3); }
  .order-form__label:active::before {
    border-color: rgba(68, 68, 68, 0.3); }

.order-form__input:checked + .order-form__label--radio::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63d1bb; }

.order-form__input:checked + .order-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 9px;
  display: block;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat; }

.order-form__title--contacts {
  margin-bottom: 0; }

.order-form__input-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font: inherit;
  font-weight: 400;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000000; }
  .order-form__input-text:hover, .order-form__input-text:active {
    border-bottom-color: #63d1bb; }
  .order-form__input-text::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__input-text:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__input-text::placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__input-text[type="tel"] {
    margin-bottom: 30px; }

.order-form__message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 142px;
  padding: 15px;
  font: inherit;
  font-weight: 400;
  border: 2px solid #000000; }
  .order-form__message:hover, .order-form__message:active {
    border-color: #63d1bb; }
  .order-form__message::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__message:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__message::placeholder {
    color: rgba(68, 68, 68, 0.3); }

.order-form__info {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444; }

.order-form__submit {
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

@media (min-width: 768px) {
  .order-form {
    padding-bottom: 50px;
    padding-top: 70px;
    font-size: 19px;
    line-height: 19px; }
  .order-form__preview {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 30px; }
  .order-form__set {
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px; }
  .order-form__title::after {
    display: none; }
  .order-form__input-list--color {
    margin-bottom: -10px; }
  .order-form__set:nth-of-type(2n) {
    background-color: #f1f1f1; }
  .order-form__wrapper,
  .order-form__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0; }
  .order-form__input-list,
  .order-form__input-text[type="tel"],
  .order-form__input-text[type="email"],
  .order-form__message {
    width: 500px; }
  .order-form__input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    min-width: 200px; }
  .order-form__label::before {
    width: 52px;
    height: 52px; }
  .order-form__input:checked + .order-form__label--radio::after {
    top: 15px;
    left: 15px;
    width: 22px;
    height: 22px; }
  .order-form__input:checked + .order-form__label--checkbox::after {
    top: 15px;
    left: 10px;
    width: 33px;
    height: 22px; }
  .order-form__title {
    width: 168px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .order-form__input-list--color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .order-form__label-text {
    margin-right: 25px; }
  .order-form__input-text {
    padding-left: 20px;
    padding-right: 20px; }
  .order-form__wrapper--submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .order-form__info {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px; }
  .order-form__submit {
    width: 230px; } }

@media (min-width: 1250px) {
  .order-form {
    padding-top: 120px; }
  .order-form__wrapper,
  .order-form__preview {
    position: relative;
    width: 700px; }
  .order-form__title {
    position: absolute;
    left: -115px;
    top: 18px;
    width: 115px; }
  .order-form__input-list,
  .order-form__input-text[type="tel"],
  .order-form__input-text[type="email"],
  .order-form__message {
    width: 700px; } }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }

@-webkit-keyframes appearance {
  0% {
    top: -2000px; }
  100% {
    top: 50%; } }

@keyframes appearance {
  0% {
    top: -2000px; }
  100% {
    top: 50%; } }

.modal--shown {
  display: block; }

.modal__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 260px;
  margin: 0 auto;
  padding: 30px 30px 45px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }

.modal--shown .modal__wrapper {
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700; }

@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 57px; }
  .modal__wrapper {
    width: 355px;
    padding: 35px 108px 46px; } }
