$tablet-width: 768px;

$desktop-width: 1250px;

$mobile-only: 767px;

$main-color: #63d1bb;

$main-color-dark: #59d5bc;

$main-color-2: #56c3b2;

$main-color-2-dark: #46c1ae;

$borders: #ececec;

$retina-dpi: 144dpi;

$retina-dppx: 1.5dppx;
