.add-cort__choose-size {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  border: none;
}

.add-cort__legend {
  margin-bottom: 25px;

  line-height: 30px;
  text-align: center;
}

.add-cort__size-list {
  display: flex;
  justify-content: space-between;
}

.add-cort__size-item {
  flex-grow: 1;
  margin-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 78px;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: 2px solid rgba(#444444, 0.1);
  &:hover {
    border-color: rgba(#444444, 0.3);
  }
  &:active {
    border-color: rgba($main-color, 1);
  }
}

.add-cort__size-item:last-child {
  margin-right: 0;
}

.add-cort__size-input:checked + .add-cort__size-item {
  border-color: rgba($main-color, 1);
}

.add-cort__submit {
  width: 100%;

  border: none;
  background-color: $main-color;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: $main-color-dark;
  }
  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: $main-color-dark;
  }
}
