.catalog {
  padding-top: 30px;
}

.catalog__list {
  @include list-style-reset;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 74px;
  }
  .catalog__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 127px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item:not( :nth-child(3) ) {
    margin-right: 51px;
  }
}
