.good-info {
  transition: box-shadow 0.3s ease-in-out;
  line-height: 0;

  &:hover {
    box-shadow: 0 6px 10px rgba(#000000, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(#000000, 0.1);
  }
}

.good-info__description {
  box-sizing: border-box;
  padding: 27px;
  padding-bottom: 0;

  border: 1px solid #ededed;
}

.good-info__caption {
  margin: 0;
  margin-bottom: 15px;
}

.good-info__caption-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  @include link-hover(#000000);
}

.good-info__features {
  margin: 0;
  padding-bottom: 25px;

  font-size: 13px;
  line-height: 30px;


}

.good-info__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;

  border-top: 1px solid #ededed;
}

.good-info__cost {
  line-height: 24px;
  font-weight: 700;
}

.good-info__cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70px;
  height: 70px;

  @include social-hover($main-color);
}

.good-info__cart-image {
  fill: rgba(#000000, 0.2);
}

@media (min-width: $tablet-width) {
  .good-info {
    display: flex;
  }

  .good-info__image-link {
    height: 334px;
    width: 334px;
  }

  .good-info__description {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .good-info__price {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .good-info {
    flex-direction: column;
    width: 315px;
    height: auto;
  }

  .good-info__image-link {
    width: 100%;
    height: 461px;
  }

  .good-info__description {
    width: auto;
    flex-grow: 1;
  }
}
