.goods-categories__list {
  display: flex;
  flex-direction: column;

  @include list-style-reset;
}

.goods-categories__item {
  width: 100%;
}

.goods-categories__link {
  display: flex;
  justify-content: space-between;
  padding: 25px 24px 16px 28px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: $main-color;
  &:hover {
    background-color: $main-color-dark;
  }
  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: $main-color-dark;
  }
}

.goods-categories__link::after {
  content: "";
  display: block;
  width: 60px;
  height: 62px;

  opacity: 0.5;

  background-repeat: no-repeat;
  background-position: center;
}

.goods-categories__link:hover::after {
  opacity: 0.7;
}

.goods-categories__link:active::after {
  opacity: 0.3;
}

.goods-categories__link--interior::after {
  background-image: url("../img/icon-interior.svg");
}

.goods-categories__link--toy::after {
  background-image: url("../img/icon-toy.svg");
}

.goods-categories__link--toy {
  background-color: $main-color-2;
  &:hover {
    background-color: $main-color-2-dark;
  }
  &:active {
    background-color: $main-color-2-dark;
  }
}

@media (min-width: $tablet-width) {
  .goods-categories__list {
    flex-direction: row;
  }

  .goods-categories__link {
    padding-left: 40px;
    padding-bottom: 50px;

    font-size: 20px;
    line-height: 30px;

    &:hover {
      position: relative;
      top: -5px;
    }
  }
}
