.main-nav {
  position: relative;
  z-index: 1;
  // ------------
  outline: 1px solid red;
}

.main-nav__logo-link {
  display: block;
  box-sizing: border-box;
  min-height: 80px;
  padding-top: 22px;

  text-align: center;
  vertical-align: middle;

  &[href] {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  // -------------
  outline: 1px solid orange;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__info {
  display: none;
  margin: 0;
  padding-top: 18px;
}

@media (max-width: $mobile-only) {
  .main-nav__wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;

    background-color: #ffffff;
  }

  .main-nav.container {
    padding: 0;
    width: 320px;
  }

  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 80px;
    height: 80px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      right: 30px;

      display: block;
      width: 21px;
      height: 21px;

      background-image: url("../img/icon-menu-close.svg");
      background-repeat: no-repeat;
      background-position: 0 center;
    }
  }

  .main-nav--closed {
    .main-nav__toggle::before {
      background-image: url("../img/icon-menu-open.svg");
      background-repeat: no-repeat;
      background-position: 0 center;
    }

    .main-nav__wrapper {
      display: none;
    }
  }

  .main-nav--no-js {
    .main-nav__wrapper {
      position: static;
      display: block;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__logo-link {
    min-height: 88px;
  }

  .main-nav__logo-image {
    width: 115px;
    height: 46px;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    order: 1;
  }

  .main-nav__user-list {
    min-width: 348px;
    margin-left: auto;
    flex-shrink: 0;
  }

  .main-nav__logo-link {
    position: absolute;
  }

  .main-nav__info {
    display: block;
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-link {
    left: 50%;

    margin-left: -74.5px;
    padding-top: 9px;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__site-list {
    order: 0;
  }

  .main-nav__user-list {
    margin-left: 100px;
  }

  .main-nav__additional-list {
    display: flex;
  }
}
