.manufacture {
  position: relative;

  margin-bottom: 55px;
}

.manufacture__video {
  position: absolute;
  top: 98px;

  line-height: 0;
  // ---------
  // outline: 1px solid orange;

  video {
    background-color: transparent;
    background-image: url("../img/video-mobile%401x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile%402x.jpg");
      background-size: 100%;
    }
  }
}

.manufacture__text-wrapper {
  position: relative;
  padding: 33px;
  padding-top: 25px;
  padding-bottom: 30px;

  border: 1px solid $borders;
  // =========
  // outline: 1px solid magenta;
}

.manufacture__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 200px;

  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 25px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }

  // --------
  outline: 1px solid blue;
}

.manufacture__info {
  margin: 0;
  margin-bottom: 27px;

  font-size: 13px;
  line-height: 24px;
}

.manufacture__order {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .manufacture {
    margin-bottom: 62px;
  }

  .manufacture__title {
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 24px;

    border-bottom: none;

    &::before {
      margin-right: 30px;
      // padding-left: 33px;
    }
  }

  .manufacture__info {
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 30px;
  }

  .manufacture__video {
    position: static;

    video {
      width: 668px;
      height: 455px;

      background-image: url("../img/video-tablet%401x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/video-tablet%402x.jpg");
        // background-size: 100%;
      }
    }
  }

  .manufacture__text-wrapper {
    padding: 35px 41px 45px;

    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .manufacture {
    display: flex;

    margin-bottom: 105px;
  }

  .manufacture__video {
    video {
      width: 682px;
      height: 455px;

      background-size: 100%;
    }
  }

  .manufacture__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 230px;
    padding: 45px 60px 60px 78px;

    border-top: 1px solid $borders;

  }

  .manufacture__title {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;

    word-wrap: break-word;

    &::before {
      margin-bottom: 20px;
    }

    span {
      max-width: 100%;
    }
  }

  .manufacture__order {
    margin-top: auto;
  }
}
