.order-form__preview {
  margin-bottom: 25px;
  padding-top: 25px;

  font-size: 13px;
  line-height: 24px;
}

.order-form__set {
  margin: 0;
  padding: 0;

  border: none;
}

.order-form__input-list {
  @include list-style-reset;
}

.order-form__title {
  display: inline-block;
  margin-bottom: 22px;
  padding: 0;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #66cccc;
}


.order-form__input-item {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.order-form__label {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 22px;

  &::before {
    content: "";
    top: 0;
    left: 0;

    box-sizing: border-box;
    display: block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 22px;

    border: 2px solid #333333;
  }

  // ----------
  outline: 1px solid orange;
}

.order-form__label--radio {
  &::before {
    border-radius: 50%;
  }
}

.order-form__input--checkbox {
  &::before {
  }
}

.order-form__input:checked + .order-form__label--radio {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;

    display: block;
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #66cccc;
  }
}

.order-form__input:checked + .order-form__label--checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;

    display: block;
    width: 23px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.order-form__title--contacts {
  margin-bottom: 0;
}

.order-form__input-text {
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  font: inherit;
  font-weight: 400;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000000;
}

.order-form__message {
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  padding: 15px;

  font: inherit;
  font-weight: 400;
  border: 2px solid #000000;
}

.order-form__info {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.order-form__submit {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .order-form__set:nth-of-type(2n) {
    background-color: #f1f1f1;
  }

  .order-form__wrapper {
   display: flex;
   flex-wrap: wrap;

  }

  .order-form__title {
    width: 168px;
  }

  .order-form__input-list {
    width: 500px;
  }

  .order-form__input-list--color {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 250px;
    }
  }
}
