.page-main {
  background-color: #fafafa;
}

.page-main__title {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #010000;
}
