.page-main {
  background-color: #ffffff;
}

.page-main__header {
  display: flex;
  min-height: 488px;

  background-color: #fafafa;
  background-image: url("../img/hero-mobile%401x.jpg");
  background-repeat: no-repeat;
  background-position: center -15%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile%402x.jpg");
    background-size: 575px auto;
  }
}



.page-main__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-main__title-wrapper {
  min-height: 177px;

  background-color: #f1f1f1;
}

.page-main__title {
  margin: 0;
  padding-top: 68px;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #010000;
}

.page-main__menu {
  margin-top: auto;
}

.page-main__wrapper--main {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    height: 750px;

    background-image: url("../img/hero-tablet%401x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet%402x.jpg");
      background-size: 1150px;
    }
  }

  .page-main__title-wrapper {
    min-height: 224px;
  }

  .page-main__title {
    padding-top: 155px;

    font-size: 43px;
    line-height: 50px;
  }

  .page-main__title--inner {
    padding-top: 100px;
  }

  .page-main__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-main__wrapper--main::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 34px;
    margin-top: -20px;

    background-image: url("../img/bg-zigzag-fill.svg");

    // ---------o
    outline: 1px solid magenta;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title-wrapper {
    min-height: 255px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__wrapper {
    width: 1050px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
