.reviews {
  width: 260px;
  margin: 0 auto;
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.reviews__wrapper {
  // ----------
  outline: 1px solid grey;
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  @include section-header;
}

.reviews__list {
  @include list-style-reset;
  margin-bottom: 35px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 23px;

  line-height: 30px;
}

.reviews__author {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.reviews__email {
  margin: 0;

  font-size: 17px;
}

.reviews__controls {
  display: flex;

  margin-bottom: 40px;
}

.reviews__button {
  box-sizing: border-box;
  width: 130px;
  height: 50px;
  margin: 0;
  padding: 0;

  font-size: 0;
  border: 1px solid #ececec;
  background-color: transparent;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button--next {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__write {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 668px;
    padding: 75px 50px;

    background-image: url("../img/review%401x.jpg");
    background-repeat: no-repeat;
    background-position: top left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review%402x.jpg");
      background-size: 350px;
    }
  }



  .reviews__wrapper {
    position: relative;
  }

  .reviews__title {
    margin-bottom: 50px;
  }

  .reviews__text {
    margin-bottom: 55px;
    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__controls {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0;
  }

  .reviews__button {
    width: 90px;

    border: none;
  }

  .reviews__write {
    position: absolute;
    top: 0;
    right: 0;

    width: 171px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    padding-right: 0;
    padding-left: 0;
  }

  .reviews__wrapper {
    width: 875px;
    margin-left: 175px;
  }

  .reviews__title {
    margin-bottom: 45px;
  }

  .reviews__text {
    margin-bottom: 35px;
    padding-right: 105px;
  }
}
