.site-list {
  box-sizing: border-box;

  border-top: 1px solid $borders;

  @include list-style-reset;
}

.site-list__link {
  display: block;
  box-sizing: border-box;
  padding-top: 28px;
  padding-left: 74px;
  padding-bottom: 28px;

  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  border-bottom: 1px solid $borders;

  &[href] {
    @include link-hover(#000000);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    box-sizing: border-box;

    border-top: none;
  }

  .site-list__link {
    margin-right: 35px;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;

    font-size: 15px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    margin-right: 35px;
    padding-top: 31px;
    padding-left: 0;
    padding-bottom: 33px;

    font-size: 17px;

    border: none;
  }

  .site-list__item {
    &:first-child {
      border-right: 1px solid $borders;
    }

    &:not(:first-child) {
      margin-left: 35px;
    }
  }
}
