.user-list {
  box-sizing: border-box;

  @include list-style-reset;
}

.user-list__link {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding-top: 28px;
  padding-left: 74px;
  padding-bottom: 28px;

  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  border-bottom: 1px solid $borders;

  &[href] {
    @include link-hover(#000000);

    @include social-hover($main-color);
  }
}

.user-list__img {
  position: absolute;
  left: 30px;

  & > path {
    fill: rgba(#000000, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
  }

  .user-list__link {
    height: 88px;
    padding-top: 31px;
    padding-left: 0;
    padding-bottom: 33px;

    border-bottom: none;
    border-left: 1px solid $borders;
  }

  .user-list__link--search {
    width: 84px;
  }

  .user-list__link--basket {
    padding-left: 82px;
  }

  .user-list__search {
    font-size: 0;
  }
}
